[Unit]
Description=bws-cache
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=bws-cache
Image=ghcr.io/ripplefcl/bws-cache:v1.1.0
Environment=TZ=America/Edmonton
# sudo podman secret create org_id ./containers/bws-cache/bws-cache.secret
Secret=org_id,type=env,target=ORG_ID
Network=containernet
IP=192.168.1.124
User=root
AddCapability=NET_BIND_SERVICE
# Traefik
Label=traefik.enable="true"
Label=traefik.http.routers.bws-cache.rule=Host'(`bws-cache.jory.casa`)'
Label=traefik.http.routers.bws-cache.entrypoints="web"
Label=traefik.http.services.bws-cache.loadbalancer.server.port="5000"

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target